* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

body {
  background: black;
  color: rgb(161, 161, 161);
  font-family: "Poppins", sans-serif;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}
.outer-wrapper {
  transform: rotate(-90deg) translateX(-100vh);
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Override default scrollbar */
::-webkit-scrollbar {
  width: 16px;
  background-color: #333333;
}
/* Customize Thumb */
::-webkit-scrollbar-thumb {
  background-color: #aa88ff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aa88ff;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #aa88ff, 0 0 20px #aa88ff,
    0 0 30px #aa88ff;
}

/* Customize Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(180deg, #3a1998 0%, black 100%);
}

.sidenav {
  position: fixed;
  padding-top: 20px;
}

.sidenav a {
  display: block;
}

.sidenav img {
  padding: 6px 6px 6px 6px;
  transition: transform 0.2s; /* Animation */
}
.sidenav img:hover {
  transform: scale(1.5);
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a1998;
  background-image: linear-gradient(90deg, #3a1998 0%, #241253 30%, black 100%);
}

.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apresentacao-descrição {
  text-align: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.apresentacao-sobre {
  text-align: center;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.apresentacao-img-pefil {
  display: flex;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 10px outset #aa88ff;
  padding: 5px;
}
.apresentacao-titulo {
  display: flex;
  border-bottom: 2px solid #aa88ff;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.two {
  background-color: #3a1998;
  background-image: linear-gradient(90deg, black 50%, #241253 100%);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "TITULO"
    "icones"
    ". ";
}

.icones {
  grid-area: icones;
  justify-self: center;
}

.icones-img {
  height: 75px;
  margin: 20px;
  border: 4px solid#555;
  border-radius: 50%;
  padding: 5px;
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #aa88ff, 0 0 20px #aa88ff,
    0 0 30px #aa88ff;
}

.icones-img:hover {
  transform: scale(1.5);
  transition-duration: 0.4s;
}

.TITULO {
  width: 100vw;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 42px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  grid-area: TITULO;
}

.TITULO::after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 5px;
  background: #aa88ff;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #aa88ff, 0 0 20px #aa88ff,
    0 0 30px #aa88ff;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  visibility: hidden;
  width: 160px;
  background-color: #3a1998;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff;
}

.popup .showup {
  visibility: visible;
  bottom: 125%;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.popup .showdown {
  visibility: visible;
  top: 125%;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.three {
  background-color: #3a1998;
  background-image: linear-gradient(90deg, #241253 50%, black 100%);
}

.container-about {
  display: flex;
  width: 100%;
  height: 100%;
}

.imagem-about {
  margin-top: 40px;
  margin-left: 40px;
  justify-content: start;
  max-width: 100%;
  height: auto;
}

.textabout h1 {
  width: 100vw;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;

  font-size: 42px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;

  /* color: white;
  width: 100vw;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 42px;
  text-align: center;
  align-self: top;
  letter-spacing: 15px; */
}

.textabout h1::after {
  content: "";
  margin: 25px;
  display: flex;
  width: 90%;
  height: 5px;
  background: #aa88ff;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #aa88ff, 0 0 20px #aa88ff,
    0 0 30px #aa88ff;
}

.textabout p {
  font-size: 18px;
  color: white;
  width: 100vw;
  text-align: center;
  margin-bottom: 20px;
}

.content-about{
  align-self: center;
}

.four {
  background-color: #3a1998;
  background-image: linear-gradient(90deg, black 50%, #241253 100%);
}

.loading-text {
  position: absolute;
  font-family: "Playfair Display SC", georgia;
  color: white;
  top: 40%;
  left: 18%;
  font-size: 2em;
  letter-spacing: 4px;
  animation: bounce 1s alternate;
  animation-duration: 4s;
}

.load-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading {
  position: relative;
  width: 250px;
  height: 250px;
}

.loading .blocks {
  position: absolute;
  width: 8px;
  height: 25px;
  left: 50%;
  border-radius: 8px;
  transform: rotate(calc(18deg * var(--i)));
  transform-origin: 0 125px;
  animation: animate 1.9s ease-in-out infinite;
  animation-delay: calc(0.05s * var(--i));
}

@keyframes animate {
  0%,
  50% {
    background: #383737;
    box-shadow: none;
  }
  50.1%,
  100% {
    background: #aa88ff;
  }
}

@keyframes bounce {
  from {
    transform: translatex(300px);
  }
  to {
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    box-shadow: none;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    box-shadow: none;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .imagem-about {
    height: 100vw;
    width: 300vh;
    align-self: center;
  }
  .textabout h1 {
    font-size: 42px;
    margin-top: 40px;
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
  .textabout p {
    display: list-item;
    font-size: 10px;
    letter-spacing: 4px;
    justify-content: center;
    margin-bottom: 10px;
  }

  

  

}